#container {
  display: flex;
  padding: 10px;
  gap: 10px;
}

#cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
}

#filter {
  width: 20%;
  font-size: 20px;
}

/* Responsive css */
 
/* for small screens */
@media screen and (max-width: 600px) {
 
  #container {
    flex-direction: column;
  }

  #cardcontainer {
    grid-template-columns: repeat(1, 1fr);
  }

  #filter {
    width: 100%;
    font-size: 16px;
  }
}


/*  for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  
  #cardcontainer {
    grid-template-columns: repeat(3, 1fr);
  }

  #filter {
    width: 30%;
    font-size: 18px;
  }
}


 /*  for larger screens */
@media screen and (min-width: 1025px) {
 
  #container {
    justify-content: center;
  }

  #cardcontainer {
    grid-template-columns: repeat(4, 1fr);
  }

  #filter {
    width: 20%;
    font-size: 20px;
  }
}
